@using ZBC.ViewModels

@model List<Article>

@{
    ViewData["Title"] = "Administre lån og retur";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-3">
    <h2>@ViewData["Title"]</h2>
    <hr />

   <!-- Articles List -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Date</th>
                <th>Price</th>
                <th>Purchased</th>
                <th>BorrowID</th>
                <th>UserID</th>
                <th>MaterialID</th>
                <th>B-Date</th>
                <th>R-Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td>@article.Bookname</td>
                    <td>@article.Author</td>
                    <td>@article.Publisher</td>
                    <td>@article.Date.ToShortDateString()</td>
                    <td>@article.Price</td>
                    <td>@article.Purchased</td>
                    <td>@article.BorrowID</td>
                    <td>@article.UserID</td>
                    <td>@article.MaterialID</td>
                    <td>@article.BorrowDate.ToShortDateString()</td>
                    <td>@article.ReturnDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-articleId="@article.ArticleId" class="btn btn-info edit-btn" data-id="@article.ArticleId">Edit</a>
                        <a asp-action="Delete" asp-route-articleId="@article.ArticleId" class="btn btn-danger delete-btn" data-id="@article.ArticleId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="NewArticle" asp-controller="Article" class="btn btn-info edit-btn">New</a>
</div>

